table{
    height: 100px;
    width: 100%; 
    border: 5px solid black;
    border-radius: 2px;
    text-align: center;
}

th,td{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(6, 7, 7);
    border-radius: 2px;
}